<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Jugadores</title>
</head>
<body>
    <h1>Jugadores</h1>
    <a href="/jugador/crear">Agregar Jugador</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ranking</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="jugador : ${jugador}">
            <td th:text="${jugador.id}"></td>
            <td th:text="${jugador.nombre}"></td>
            <td th:text="${jugador.ranking}"></td>
            <td th:text="${jugador.edad}"></td>
            <td>
                <a th:href="@{/jugador/editar/{id}(id=${jugador.id})}">Editar</a> |
                <a th:href="@{/jugador/eliminar/{id}(id=${jugador.id})}">Eliminar</a>
            </td>
        </tr>
    </table>
    <a href="/">Volver</a>
</body>
</html>

